<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,900|Cormorant:300" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{ partial "header.html" . }}
  <div class="page-wrapper">
      {{ $data := .Data }}
      {{ range $key,$value := .Data.Terms.ByCount }}
        <li>
          <a href="{{ (print $data.Plural "/" ($value.Name | urlize) "/") | relURL }}">
            {{ $value.Name }}
          </a>
          <strong>
            {{ $value.Count }}
          </strong>
        </li>
      {{ end }}

  </div>
</body>
</html>
