:root {
  --main: #FFABA7;
  --light: #FFE9E8;
  --dark: #5A576A;
  --red: #EB5757;
  --background: rgba(246, 246, 246, 0.2);
  --faded: rgba(100, 100, 100, .1);
  --logo-font: 'Cormorant', serif;
  --body-font: 'Catamaran', sans-serif;
}

body {
  background: var(--background);
  color: var(--dark);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a { color: #fff; }

.header .nav-item {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 20px;
}

.header__logo {
  font-family: var(--logo-font);
  font-size: 2rem;
  font-weight: 300;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.header__logo a { color: var(--dark); }

.header nav {
  background: var(--red);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

@media (min-width: 400px) {
  .header nav {
    flex-flow: row wrap;
  }

  .header {
    align-items: flex-start;
    background: url('/images/tokyo.jpg') no-repeat center center;
    background-size: cover;
    justify-content: space-between;
    min-height: 35vh;
  }

  .header__logo { background: #fff; }
}

@media (min-width: 1260px) {
  body {
    display: flex;
    flex-flow: row;
  }

  .header {
    flex: 0 1 400px;
    flex-flow: column;
    height: 100vh;
  }

  .page-wrapper {
    flex: 1 1 auto;
    max-height: calc(100vh - 40px);
    overflow: scroll;
  }
}

.page-wrapper {
  background: #fff;
  margin: 0 20px;
  min-height: calc(100vh - 500px);
  padding: 20px 30px;
}

code {
  background: rgba(205, 205, 205, .5);
  border-radius: 1px;
  padding: 3px;
}

.post__body { max-width: 700px; }
.post { padding: 20px; }
.post p { line-height: 1.35em; }
.post img { max-width: 500px; }

.short-post {
  border-bottom: 1px solid var(--faded);
  font-size: .9rem;
  margin: 10px 0 20px;
  max-width: 700px;
  padding-bottom: 10px;
}

.short-post__title { font-size: 1.25rem; }
