:root {
  --main: #FFABA7;
  --light: #FFE9E8;
  --dark: #5A576A;
  --faded: rgba(100, 100, 100, .1);
  --header-font: 'Catamaran';
  --body-font: 'Work Sans';
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

.block-header {
  background: var(--main);
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0;
  min-height: 270px;
  padding: 20px 30px;
}

.block-header h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

nav { display: flex; }
.nav-item { margin: 10px; }

.page-wrapper {
  background: #fff;
  margin: 0 20px;
  min-height: calc(100vh - 500px);
  padding: 20px 30px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

code {
  background: rgba(205, 205, 205, .5);
  border-radius: 1px;
  padding: 3px;
}

.post__body {
  max-width: 700px;
}

.post {
  padding: 20px;
}

.post p {
  line-height: 1.35em;
}

.short-post {
  border-bottom: 1px solid var(--faded);
  padding-bottom: 10px;
  margin: 10px 0 20px;
}

.short-post__title {
  font-size: 1.5rem;
}
